<div class="w-full">
  <h4 class="text-white_default mt-4">Casos por mês</h4>
  <div id="chart" class="w-full">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
      [fill]="chartOptions.fill"
      [markers]="chartOptions.markers"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div>
</div>
