:host {
  [dashboard-container] {
    @apply flex flex-col items-center;
  }

  .swiper {
    @apply bg-nina_primary_color min-w-[22rem] md:min-w-[44rem] md:h-[23rem] lgxl:min-w-[22rem] max-w-[80vw] p-[1rem] rounded-2xl;
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.8);
  }
  .table {
    @apply flex flex-col overflow-x-auto;
    &-header {
      @apply px-6 flex flex-nowrap flex-row w-[50rem] mdlg:w-full pr-[10%] mb-2;

      &-col {
        @apply text-light_gray_5 flex text-nowrap;
      }
    }
  }
}
