::ng-deep .mat-mdc-form-field {
  background-color: transparent !important;
  .mat-mdc-text-field-wrapper {
    @apply rounded-md bg-nina_primary_extra_light_color;
    padding: 0 1rem !important;

    & * {
      outline: none !important;
      border: none !important;
    }

    .mat-mdc-form-field-flex.mat-mdc-form-field-infix {
      padding: 0 !important;
    }

    .mdc-line-ripple::before {
      border-bottom: none !important;
    }
  }
}
