<div id="chart" class="p-4 md:p-8 bg-gray_4 rounded-2xl h-[23rem]">
  <h4 class="mb-4">Tipos de agressão</h4>
  @if (!isLoading) {
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [legend]="{ show: false }"
      [stroke]="chartOptions.stroke"
      [labels]="chartOptions.labels"
      [grid]="chartOptions.grid"
    ></apx-chart>
  }
</div>
