<div class="relative">
  <div
    (click)="open_options()"
    selected-option
    class="cursor-pointer bg-nina_primary_extra_light_color rounded-lg pl-5 py-1 flex justify-between"
  >
    @if (selected_item.key != 'unset') {
      <i class="body2 text-black_3">{{ selected_item.value }}</i>
    } @else {
      <i class="body2 text-black_3">Selecionar...</i>
    }
    <span class="material-icons-round"> keyboard_arrow_down </span>
  </div>

  <div
    #select_options
    [ngClass]="options_opened ? 'max-h-[10rem] ' : 'max-h-0'"
    class="selector-options !overflow-auto"
  >
    <div
      class="overflow-auto w-full h-full flex flex-col gap-2 p-[0.65rem] mt-[0.65rem]"
    >
      <div *ngFor="let option of options_entered | dictPipe">
        <div (click)="select_option(option.key, option.value)">
          <div
            class="text-black_3 cursor-pointer rounded-lg body2 hover:text-nina_primary_color hover:bg-nina_primary_light_color pl-[0.65rem]"
          >
            {{ option.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
