<div class="w-full">
  <h4 class="text-white_default mt-4">Casos por mês</h4>
  <div class="flex items-start ml-4">
    <div class="mt-4 mr-[-1rem] legend2 text-white_default">
      <span>Casos</span>
    </div>
    <div id="chart" class="w-full">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [fill]="chartOptions.fill"
        [title]="chartOptions.title"
        [colors]="chartOptions.colors"
        [legend]="{ show: false }"
        [grid]="chartOptions.grid"
      ></apx-chart>
    </div>
  </div>
</div>
