<div complaint-details-container>
  <div class="mb-8 md:mb-[4rem] flex gap-2 md:gap-6 items-start">
    <span
      (click)="navigate_to_details()"
      class="cursor-pointer text-nina_primary_color text-2xl sm:pt-2 1.5xl::pt-0 material-icons-round"
    >
      arrow_back_ios
    </span>
    <div>
      <h2 class="break-all md:break-normal">
        Ocorrência ID{{ complaint_data?.id }} - {{ complaint_data?.date }}
      </h2>
    </div>
  </div>
  <div class="w-full flex-col flex items-center justify-center">
    <div>
      <div class="flex flex-wrap gap-6 mb-4">
        <div>
          <span class="text-base text-black_2">Ocorrido em</span>
          <div class="mt-2 rounded-xl bg-light_gray_3 px-4">
            {{ complaint_data?.date }}
          </div>
        </div>
        <div>
          <span class="text-base text-black_2">Data do registro</span>
          <div class="mt-2 rounded-xl bg-light_gray_3 px-4">
            {{ complaint_data?.date }}
          </div>
        </div>
      </div>
      <div
        class="px-6 md:px-12 py-6 rounded-2xl bg-nina_secondary_extra_light_color"
      >
        <h4 class="mb-6">Detalhes</h4>
        <div class="mb-[1.9rem] flex flex-wrap gap-4 md:gap-8">
          <div class="flex flex-col gap-1">
            <div class="legend1 font-bold uppercase">Situação</div>
            <span class="text-base font-normal text-light_gray_5">{{
              complaint_data?.situation
            }}</span>
          </div>
          <div class="flex flex-col gap-1">
            <div class="legend1 font-bold uppercase">Gênero</div>
            <span class="text-base font-normal text-light_gray_5 uppercase">{{
              complaint_data?.user?.gender | Translate
            }}</span>
          </div>
          <div class="flex flex-col gap-1">
            <div class="legend1 font-bold uppercase">Etnia</div>
            <span class="text-base font-normal text-light_gray_5 uppercase">{{
              complaint_data?.user?.ethnicity | Translate
            }}</span>
          </div>
          <div class="flex flex-col gap-1">
            <div class="legend1 font-bold uppercase">Idade</div>
            <span class="text-base font-normal text-light_gray_5">{{
              get_age(complaint_data?.user?.birthdate ?? '')
            }}</span>
          </div>
          <div class="flex flex-col gap-1">
            <div class="legend1 font-bold uppercase">Bairro</div>
            <span class="text-base font-normal text-light_gray_5">{{
              complaint_data?.neighborhood
            }}</span>
          </div>
        </div>

        <div>
          <h5 class="text-sm font-bold mb-1">Relato</h5>
          <div class="bg-white_default px-[1.65rem] py-[1.2rem] rounded-2xl">
            <p>{{ complaint_data?.description }}</p>
          </div>
        </div>

        <div class="mt-4 md:mt-12">
          <span class="body2 text-black_3">Tipo de agressão</span>
          <div
            class="mt-3 md:mt-6 leading-[1.625rem] px-4 w-fit !text-nina_primary_color bg-nina_primary_light_color text-center rounded-full"
          >
            {{ complaint_data?.type | Translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
