<div class="w-full">
  <h4 class="text-white_default mt-4">Momento do Relato</h4>
  <div
    class="flex flex-col justify-center md:justify-between md:relative w-full"
  >
    @if (!isLoading) {
      <div
        id="chart"
        class="md:absolute top-0 md:left-[-4rem] ml-[-1rem] md:ml-0"
      >
        <apx-chart
          [series]="chartOptions_at_moment.series"
          [chart]="chartOptions_at_moment.chart"
          [plotOptions]="chartOptions_at_moment.plotOptions"
          [labels]="chartOptions_at_moment.labels"
          [fill]="chartOptions_at_moment.fill"
        ></apx-chart>
      </div>
      <div
        id="chart2"
        class="md:absolute top-0 md:right-[-4rem] ml-[-1rem] md:ml-0"
      >
        <apx-chart
          [series]="chartOptions_not_at_moment.series"
          [chart]="chartOptions_not_at_moment.chart"
          [plotOptions]="chartOptions_not_at_moment.plotOptions"
          [labels]="chartOptions_not_at_moment.labels"
          [fill]="chartOptions_not_at_moment.fill"
        ></apx-chart>
      </div>
    }
  </div>
</div>
