<div class="w-full">
  <h4 class="text-white_default mt-4">Momento do Relato</h4>
  <div
    class="flex flex-col justify-center md:justify-between md:relative w-full"
  >
    <div
      id="chart"
      class="md:absolute top-0 md:left-[-4rem] ml-[-1rem] md:ml-0"
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [labels]="chartOptions.labels"
        [fill]="chartOptions.fill"
      ></apx-chart>
    </div>
    <div
      id="chart2"
      class="md:absolute top-0 md:right-[-4rem] ml-[-1rem] md:ml-0"
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [labels]="chartOptions.labels"
        [fill]="chartOptions.fill"
      ></apx-chart>
    </div>
  </div>
</div>
